{% extends "blog/posts_base.html" %}

{% load markup oembed_tags typogrify_tags %}


{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content %}

{{ block.super }}

{% if object_list %}
<div class="list">
    {% for object in object_list %}
    <div class="item">

<h2><a href="{{ object.get_absolute_url }}">{{ object.title|typogrify }}</a></h2>

<p>

{% if body.summary %}

{% filter typogrify %}
{% filter striptags %}
{% filter markdown %}
{% oembed %}
{{ object.summary|safe }}
{% endoembed %}
{% endfilter %}
{% endfilter %}
{% endfilter %}

{% else %}

{% filter truncatewords:50 %}
{% filter typogrify %}
{% filter striptags %}
{% filter markdown %}
{% oembed %}
{{ object.body|safe }}
{% endoembed %}
{% endfilter %}
{% endfilter %}
{% endfilter %}
{% endfilter %}

<a href="{{ object.get_absolute_url }}">read more</a>

{% endif %}

</p>

    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}